{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center mt-5 "><i class='fa fa-book'></i> Livre</h2>
    
    <table class="table table-borderless mt-5">
        <tbody>
            <tr class="bandeau">
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Date de prêt</th>
                <td>{{ livre.datepret ? livre.datepret|date('d-m-y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de retour</th>
                <td>{{ livre.dateretour ? livre.dateretour|date('d-m-y') : '' }}</td>
            </tr>
            <tr>
                <th>Lecteur</th>
                <td>{{ livre.lecteur.nom }} {{ livre.lecteur.prenom }}</td> 
            </tr>
            {# <tr>
                <th>Id</th> 
                <td>{{ livre.id }}</td>
            </tr> #}
        </tbody>
    </table>
<div class="row mt-5">
    <a href="{{ path('livre_index') }}" class="btn btn-success ml-3 mr-3">Retour</a>
    <a href="{{ path('livre_edit', {'id': livre.id}) }}" class="btn btn-success mr-3">Modifier</a>

    {{ include('livre/_delete_form.html.twig') }}
</div>
{% endblock %}
